name: iOS Pods Action

on:
  workflow_dispatch:

jobs:
  pod-job:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install CocoaPods
        run: gem install cocoapods

      - name: Find Podfile and Run Commands
        run: |
          # پیدا کردن مسیر دقیق فایل Podfile در کل پروژه
          PODFILE_PATH=$(find . -name "Podfile" -not -path "*/.*" | head -n 1)
          
          if [ -z "$PODFILE_PATH" ]; then
            echo "خطا: هیچ فایلی با نام Podfile در کل پروژه پیدا نشد!"
            ls -R
            exit 1
          fi
          
          # استخراج مسیر پوشه ای که Podfile در آن است
          TARGET_DIR=$(dirname "$PODFILE_PATH")
          echo "فایل پیدا شد در مسیر: $TARGET_DIR"
          
          cd "$TARGET_DIR"
          
          # اجرای دستورات اصلی
          pod deintegrate
          pod install

      - name: Upload iOS Result
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ios-files-result
          # این خط کل فایل های تغییر یافته را پیدا و زیپ می کند
          path: |
            **/Podfile.lock
            **/Pods/
            **/*.xcworkspace
