name: iOS Pods Action

on:
  workflow_dispatch:

jobs:
  pod-job:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install CocoaPods
        run: gem install cocoapods

      - name: Check Directory and Run Pods
        run: |
          # رفتن به پوشه جدید
          cd idknotes/ios
          
          # اجرای دستورات
          pod deintegrate
          
          if [ -f "Podfile" ]; then
            pod install
          else
            echo "خطا: فایل Podfile در مسیر idknotes/ios پیدا نشد!"
            ls -R # این دستور برای این است که اگر باز هم خطا داد، ببینیم فایل کجاست
            exit 1
          fi

      - name: Upload iOS Folder
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ios-files-result
          path: idknotes/ios/
