name: iOS Pods Action

on:
  workflow_dispatch:

jobs:
  pod-job:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install CocoaPods
        run: gem install cocoapods

      - name: Check Directory and Run Pods
        run: |
          # نمایش لیست فایل‌ها برای اطمینان از وجود Podfile
          ls -R 
          
          # رفتن به پوشه ios (اگر وجود دارد)
          if [ -d "ios" ]; then
            cd ios
          fi
          
          # اجرای دستورات
          pod deintegrate
          
          # فقط اگر Podfile وجود داشت install را بزن
          if [ -f "Podfile" ]; then
            pod install
          else
            echo "خطا: فایل Podfile پیدا نشد!"
            exit 1
          fi

      - name: Upload iOS Folder
        if: always() # حتی اگر مراحل قبلی خطا داشت، سعی کن فایل‌ها را آپلود کنی
        uses: actions/upload-artifact@v4
        with:
          name: ios-files-result
          path: |
            **/Podfile.lock
            **/Pods/
            **/*.xcworkspace
